@import url("https://fonts.googleapis.com/css2?family=Work+Sans");

.footer {
  margin-top: 2rem;
}
.footer-text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  font-family: "Work Sans";
}
