@import url("https://fonts.googleapis.com/css2?family=Pacifico");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed");

.logo {
  padding: 0.75rem 4rem;
  font-weight: 400;
  font-family: "Pacifico";
  font-size: 24px;
  font-style: normal;
  color: #000000;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.navMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navMenu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.navMenu ul li {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2.1rem;
  list-style: none;
  font-family:"Ubuntu Condensed"
}
.navMenu ul li:hover {
  text-decoration: underline;
}
