@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700@display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bgcolor: #f1f1f1;
    --primary-color: #062e3d;
    --text-color: #828286;
    --main-text-color: #333333;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}

@media (min-width: 1500px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px !important;
    }
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }
}