@import url("https://fonts.googleapis.com/css2?family=Sura");

.main-title {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 57px;
  font-family: "Sura", sans-serif;
}
