@import url("https://fonts.googleapis.com/css2?family=Sura");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

.section {
  height: 168px;
  width: 70%;
  border-radius: nullpx;
}
.mainTitle {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  font-family: "Sura", sans-serif;
  color: #000000;
}
.listItem {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #5E5C5C;
}
